html, body {
    width: 100% !important;
    color: #333;
    background-color: #264fbe;
    height: 100%
}

/*.container-full {*/
/*height: 100%;*/
/*}*/

.top-user {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

body {
    background-color: rgba(86, 153, 255, 0.08) !important;
}

.clear {
    clear: both
}

.top-nav {
    background-color: white !important;
    width: 100% !important;
}

.top-user {
    padding-left: 30px;
    padding-right: 30px;
}

.top-user .ui.left.dropdown.item .icon.big.student {
    margin-right: 22px;
}

.top-user .ui.left.dropdown.item span {
    color: #333;
}

.top-user .ui.left.dropdown.item .menu .item .right {
    float: right !important;
}

.bottom-nav {
    min-width: 775px;
    border-top: none !important;
}

.bottom-nav .icon.home:hover {
    cursor: pointer;
    color: black;
}

.bottom-nav .change-button {
    margin-left: auto !important;
    width: 88px;
    text-align: center;
    box-shadow: -1px 1px 3px -1px black;
}


.bottom-nav .change-button p {
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);*/
    line-height: 32px;
    margin-bottom: 0;
    font-size: 14px;

}

.bottom-nav .change-button p.active {
    background: #50a2ff;
    color: white;
}

.bottom-nav .change-button p:hover {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.orange {
    color: orange;
}

.line-height-2 {
    line-height: 2;
}

.pading-l-r-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right;
}

#account-edit tr td {
    border: none;

}

#account-edit tr td:first-child {
    text-align: right;
}

#account-edit tr td:last-child {
    text-align: center;
}

#account-edit tr:last-child td {
    text-align: right;
}

.menu.transition.visible .selected {
    background: white !important;
    color: #eee !important;
    font-weight: 400 !important;
}

#menu .ui.menu .ui.dropdown .menu > .active.item {
    background: white !important;
    font-weight: normal !important;
    color: #333 !important;
}

#disk-message {
    padding-left: 100px;
    padding-right: 100px;
}

#disk-message tr td:first-child, #disk-message tr td:nth-child(3) {
    text-align: left;
}

#disk-message tr td span {
    width: 110px;
    display: inline-block;
}

#page:hover {
    background: white !important;
}

#self-stock .search {
    text-align: right;
}

#page .page ul li:hover {
    background: rgba(0, 0, 0, .05) !important;
    cursor: pointer;
}

.page {
    text-align: right !important;
}

.page ul {
    margin: 0;
}

.page ul li {
    display: inline-block;
    list-style: none;
    border: 1px solid #dededf;
    margin-left: 5px;
    margin-right: 5px;
    color: #2d2d2d;
    padding: 2px 6px;
}

#send-issue textarea {
    width: 100%;
    margin-bottom: 12px;
    resize: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
}
#search-stock .primary.button{
    left:-3px;
}
#search-stock .content .action.input{
    width:90%;
}
#search-stock .selection.dropdown{
        width: 106px;
}
.orange{
    color: orange;
}