.content-info {
    padding: 30px 15px;
    margin-top: 45px;
    margin-bottom: 70px;
}

.pie {
    margin-bottom: 10px;

}
.margin-bottom{
    margin-bottom:15px;
}
.content-info .left .box {
    background: #f5f5f5;
    padding: 15px;
}

.content-info .left .box .title {
    margin-bottom: 15px;
}

.content-info .left .box .item {
    padding: 15px;
    border: 1px solid;
    height: 386px;

}

.content-info .left .box .item .title {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid;
}

.content-info .left .box .item .code {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    background: greenyellow;
}

.content-info .left .box .item .bottom-info p {
    margin: 0;
}

.content-info .left .box .item .bottom-info p span {
    width: 49%;
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    border: none;
}

.pie {
    margin-left: -2px;
    width: 100%;
}

.content-info .right .box {
    padding: 15px;
    padding-bottom: 10px;
    background: beige;
    margin-bottom: 10px;
}

.content-info .right .header {
    margin-bottom: 15px;
}

.content-info .right .left-info p {
    font-size: 14px;
    background: rgba(0, 0, 255, 0.44);
    line-height: 2;
    padding-left: 15px;
}

.content-info .right .left-info p:last-child {
    font-size: 20px;
    color: orangered;
}

.history-info .info p {
    margin-bottom: 0;

}

.history-info .line {
    background: #2bbbff;
    padding: 4px 8px;
    margin-bottom: 10px;
}

.history-info .line .left {
    float: left;
    width: 70%;
}

.history-info .line .right {
    float: right;
    width: 30%;
    padding: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    text-align: center;
    margin-right: -8px;
    height: 39px;
    display: block;
    background: rgba(232, 0, 0, 0.49);
}

.history-info .line .right p {
    font-size: 10px;
    line-height: 39px;
}

.history-info .line .right p span {
    font-size: 22px;
}

.history-info .line .big {
    font-size: 12px;
}

.history-info .line .small {
    font-size: 10px;
    white-space: nowrap;
}