.content-info {
    padding: 30px 15px;
    margin-top: 45px;
    margin-bottom: 70px;
}

.header {
    line-height: 60px;
    font-size: 26px;
    text-align: center;
    height: 70px;
    background: rebeccapurple;
}

.header p {
    line-height: 70px;
}

.header span {
    margin-left: 10px;
    margin-right: 10px;
}

.big-text {
    font-size: 40px;
    font-weight: 600;
}

.content {
    padding: 30px 100px;
}

.content {
    color: white;

}

.content table {
    width: 100%;
}

.content .item td:first-child {
    width: 200px;
    padding: 0 5px;
    text-align: right;
}

.content .item td:last-child {
    position: relative;
    padding: 5px 15px;
}

.content .item td:last-child .border {
    padding: 10px;
    border: 1px solid;
}

.content .item td:last-child .title {
    font-size: 16px;
}

.content .item .info {
    line-height: 22px;
}

.content .stock-tag {
    background: orange;
    position: absolute;
    right: 30px;
}

.border div:last-child.ui.label {
    border-radius: 0;
    background: red;
}

.attention {
    width: 300px;
    border-top: 1px dashed;
    padding: 10px 0;
}