html, body {
    width: 100% !important;
    color: #333;
    background-color: #264fbe;
    height: 100%
}

/*.container-full {*/
/*height: 100%;*/
/*}*/

.top-user {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

body {
    background-color: rgba(86, 153, 255, 0.08) !important;
}

.clear {
    clear: both
}

.top-nav {
    background-color: white !important;

}

.top-user {
    padding-left: 30px;
    padding-right: 30px;
}

.top-user .ui.left.dropdown.item .icon.big.student {
    margin-right: 22px;
}

.top-user .ui.left.dropdown.item span {
    color: #333;
}

.top-user .ui.left.dropdown.item .menu .item .right {
    float: right !important;
}

.bottom-nav {
    min-width: 775px;
    border-top: none !important;
}

.bottom-nav .icon.home:hover {
    cursor: pointer;
    color: black;
}

.bottom-nav .change-button {
    margin-left: auto !important;
    width: 88px;
    text-align: center;
    box-shadow: -1px 1px 3px -1px black;
}

.bottom-nav .change-button p {
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);*/
    line-height: 32px;
    margin-bottom: 0;
    font-size: 14px;

}

.bottom-nav .change-button p.active {
    background: #50a2ff;
    color: white;
}

.bottom-nav .change-button p:hover {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.orange {
    color: orange;
}

.line-height-2 {
    line-height: 2;
}

.pading-l-r-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin-top{
    margin-top:0 !important;
}
.text-center{
    text-align: center !important;
}