.content-info {
    padding: 30px 15px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-bottom: 0;
}

.content-info .left-info {
    border: 1px solid;
}

.content-info .box .inner-box {
    background: #333;
    padding: 5px;
}

.content-info .box .inner-box p {
    margin-bottom: 5px;
}

.today-advice {
    margin-top: 10px;;
    margin-bottom: 10px;;
}

.today-advice .title {
    float: left;
    width: 50px;
    text-align: center;
    background: gray;
}

.today-advice .info {
    float: left;
    width: 130px;
    text-align: center;
}

.today-advice p {
    margin-bottom: 0 !important;
}

ul {
    margin: 0 !important;
    color: white !important;
}

.inner-box .only {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightslategrey;
}

.orange-box {
    background: orange !important;
    padding: 5px 15px;
}

.news-box .item {
    padding: 5px 0;
}

.news-box .item ~ .item {
    border-top: 1px dashed;
}

.niuren-box {
    margin-top: 5px;
}

.niuren-box .left {
    width: 30%;
    float: left;
    padding:15px;
        background: #d4ff54;

}

.niuren-box .right {
    float: left;
    width: 70%;
    padding:15px;
    background: #3affff;
}

.niuren-box .left .title {
    font-size: 16px;
    text-align: center;
}

.niuren-box .left .title p {
    margin-bottom: 0;
}

.niuren-box .left .title i {
    font-size: 38px;
    margin-top: 20px;
}

.niuren-box .left .info {
    font-size: 16px;
    text-align: center;
}

.niuren-box .left .info .price {
    font-size: 18px !important;
}

.niuren-box .left .info .divider {
    margin: 0 !important;
}

.add-stock a {
    width: 100%;
    background: orange;
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 21px;
}

.right-top-box .box:first-child {
    padding-right: 5px;
}

.right-top-box .box:last-child {
    padding-left: 5px;
}

#pie-img{
    background: rebeccapurple;
}