.left-box, .right-box {
    height: 490px;
    margin-top: 15px;
}

.left-box {
    padding-top: 15px;
}

.expert-info {
    padding-top: 15px;
    padding-bottom: 15px;
}

.finance-data, .timeing-data {
    border-radius: 5px !important;

}

.expert-info .title {
    line-height: 3;
    background-color: #f9fafb;
    border-radius: 4px 4px 0 0;
    padding-left: 15px;
}

.expert-info p {
    margin-bottom: 0;
}

.timeing-data tr td:first-child {
    width: 100px;
}

.timeing-data tr td .file.outline.icon {
    margin-right: 10px;
}

.expert-info .card {
    padding: 4px 15px;
    border-top: none;
    border-bottom: none;
    background: #fff;
}

.expert-info .card ul {
    margin: 9px 0;
}

.border-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.choose-date {
    float: right;
}

.finance-data .title {
    padding-top: 9px !important;
    padding-bottom: 8px !important;
    line-height: 2;
}

.finance-table-title th {
    font-size: 14px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.top-bottom {
    padding: 2px 2px !important;
}

.top-bottom p {
    margin: 0;

}

.top-bottom p span {
    display: inline-block;
    padding: 1px;
    color: white;
    font-size: 12px;

}

.top-bottom p .title-red {
    background: red;
}

.top-bottom p .title-green {
    background: green;
}

.top-bottom p .title-red-info {
    background: #d16767;
}

.top-bottom p .title-green-info {
    background: #519a51;
}

.icon.star {
    background: 0 0 !important;
    color: #FFE622 !important;
    text-shadow: 0 -1px 0 #DDC507, -1px 0 0 #DDC507, 0 1px 0 #DDC507, 1px 0 0 #DDC507 !important;
}
