{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/xinqihang/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>

    {% block css %}
    {% endblock %}
</head>
<body>
{#    头部#}
<div class="container-fluid">
    <div class="row top-nav">
        <div class="top-user ui text menu col-lg-12 col-xd-12 col-sm-12 col-xs-12 ">
            <div class="ui left dropdown item">
                <i class="icon big student"></i>
                <span>李先生</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">我的资料 <i class="right icon child "></i></div>
                    <div class="item">桌面通知<i class="right icon alarm green"></i></div>
                    <div class="item">自选股<i class="right icon area chart red"></i></div>
                    <div class="item">技术学堂<i class="right icon book"></i></div>
                </div>
            </div>
            <div class="ui right dropdown item">About Us <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">关于我们</div>
                    <div class="item">生命条款</div>
                    <div class="item">联系我们</div>
                    <div class="item">问题反馈</div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">{% block content %}{% endblock %}</div>

    {# 内容部分 #}

    {# 底部导航 #}
    <div class="row">
        {# 大屏幕 #}
        <div class="col-lg-12 col-xd-12 hidden-sm hidden-xs">
            <div class="ui massive bottom fixed menu bottom-nav">
                <div class="item">
                    <i class="large icon home"></i>
                </div>
                <a class="item active"><i class="icon large flag outline"></i>决策中心</a>
                <a class="item"><i class="icon large doctor"></i>专家点评</a>
                <a class="item"><i class="icon large newspaper"></i>数据中心</a>
                <a class="item"><i class="icon large toggle right"></i>快讯直播</a>
                <a class="item"><i class="icon large student"></i>牛人操盘</a>
                <div class="change-button">
                    <p class="active">期货</p>
                    <p>股票</p>
                </div>
            </div>
        </div>
        {#    小屏幕#}
        <div class=" col-xs-12 col-sm-12 hidden-xd hidden-lg">
            <div class="ui huge bottom fixed menu bottom-nav">
                <div class="item">
                    <i class="large icon home"></i>
                </div>
                <a class="item active"><i class="icon flag outline"></i>决策中心</a>
                <a class="item"><i class="icon doctor"></i>专家点评</a>
                <a class="item"><i class="icon newspaper"></i>数据中心</a>
                <a class="item"><i class="icon toggle right"></i>快讯直播</a>
                <a class="item"><i class="icon student"></i>牛人操盘</a>
                <div class="change-button">
                    <p class="active">期货</p>
                    <p>股票</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $('.ui.dropdown')
            .dropdown()
    ;
    $(function () {
        $('.change-button p').on('click', function () {
            $('.change-button p').removeClass('active');
            $(this).addClass('active')
        })
    })

</script>
{% block js %}
{% endblock %}