{% extends 'xinqihang/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/xinqihang/click.css' %}">

{% endblock %}
{% block content %}
    <div class="row content-info">
        <table class="ui compact celled selectable table">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>股票代码</th>
                <th>选股时间</th>
                <th>功能</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>John Lilki</td>
                <td>September 14, 2013</td>
                <td>jhlilk22@yahoo.com</td>
                <td>
                    <a href="javascript:;" class="ui button"></a>
                    <a href="javascript:;" class="ui button"></a>
                    <a href="javascript:;" class="ui button"></a>
                </td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jamie Harington</td>
                <td>January 11, 2014</td>
                <td>jamieharingonton@yahoo.com</td>
                <td>
                    <a href="javascript:;" class="ui button"></a>
                    <a href="javascript:;" class="ui button"></a>
                    <a href="javascript:;" class="ui button"></a>
                </td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            
            <tr>
                <td class="collapsing">
                    <div class="ui checkbox">
                        <input type="checkbox" name="example">
                    </div>
                </td>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            </tbody>
            <tfoot class="full-width">
            <tr>
                <th></th>
                <th colspan="4">
                    <div class="ui right floated small primary labeled icon button"><i class="user icon"></i>功能</div>
                    <div class="ui small button">全选</div>
                    <div class="ui small  disabled button">批量添加</div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}