{% extends 'xinqihang/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/xinqihang/diagnose.css' %}">

{% endblock %}
{% block content %}
    <div class="row content-info">
        <div class="row box">
            <div class="col-md-12">
                <h2 class="ui horizontal divider header">美盛文化 002699</h2>
            </div>
            <div class="col-md-12 item">
                <div class="row price">
                    <div class="col-md-2">
                        <p>
                            最新报价
                            <span>36</span>
                            <i class="icon long arrow down"></i>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="green-text">涨跌：0.58 <i class="icon long arrow down"></i></p>
                        <p class="green-text">涨幅：0.58 <i class="icon long arrow down"></i></p>
                    </div>
                    <div class="col-md-2">
                        <p>今开：36.77</p>
                        <p>昨收：36.77</p>
                    </div>
                    <div class="col-md-2">
                        <p>最高：11.11</p>
                        <p>最低：11.22</p>
                    </div>
                    <div class="col-md-2">
                        <p>成交量：5000万</p>
                        <p>总股本：4.98亿股</p>
                    </div>
                    <div class="col-md-2">
                        <p>换手率：0.39</p>
                        <p>市盈率：0.39</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item">
                <p>综合评分:&nbsp; <span class="red big">&nbsp;6.1</span>&nbsp;&nbsp;打败了:&nbsp; <span class="orange big">&nbsp;91%</span>的股票</p>
                <p class="text-grey">是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了是老大家里阿里是看得见阿斯达克了</p>
            </div>
            <div class="col-md-12 item">
                <div class="row">
                    <div class="col-md-6 right-border">
                        <p class="title">趋势分析</p>
                        <p>中期趋势：123123123123123123123123123123</p>
                        <p>短期趋势：123123123123123123123123123123</p>
                        <p>长期趋势：123123123123123123123123123123</p>
                    </div>
                    <div class="col-md-6 left-border">
                        <p class="title">压力支撑</p>
                        <p>平均成本：123123123123123123123123123123</p>
                        <p>压力支撑：123123123123123123123123123123</p>
                        <p>市场表现：123123123123123123123123123123</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item">
                <p class="title">技术形态</p>
                <p>买入信号：123123123123123123123123123123</p>
                <p>选股形态：123123123123123123123123123123</p>
                <p>最新形态：123123123123123123123123123123</p>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}

    <script>
    </script>


{% endblock %}