{% extends 'xinqihang/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/xinqihang/index.css' %}">

{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;margin-top:40px">
        <div class="left-icons col-md-4 col-sm-4 ">
            <div class="item-box one col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="left-box col-md-4 col-sm-4 col-xs-4">
                        <i class="icon huge browser"></i>
                        <p>大数据诊断</p>
                    </div>
                    <div class="right-box col-md-8 col-sm-8 col-xs-8">123</div>
                </div>
            </div>
            <div class="item-box two col-md-12 col-sm-12 border ">
                <div class="row">
                    <div class="left-box col-md-4 col-sm-4 col-xs-4">
                        <i class="icon huge calendar"></i>
                        <p>机构诊断</p>
                    </div>
                    <div class="right-box col-md-8 col-sm-8 col-xs-8">123</div>
                </div>
            </div>
            <div class="item-box three col-md-12 col-sm-12 border ">
                <div class="row">
                    <div class="left-box col-md-4 col-sm-4 col-xs-4">
                        <i class="icon huge bar chart"></i>
                        <p>多空博弈</p>
                    </div>
                    <div class="right-box col-md-8 col-sm-8 col-xs-8">123</div>
                </div>
            </div>
        </div>
        <div class="right-info col-md-8  col-sm-8 ">
            123
        </div>
    </div>
{% endblock %}