{% extends 'xinqihang/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/xinqihang/infomation.css' %}">

{% endblock %}
{% block content %}
    <div class="row content-info">
        <div class="col-md-12">
            <div class="header">
                <p>新起航没<span class="big-text orange">秒</span>都再为您提供各大财经平台快讯， 今日已累计发布<span class="big-text orange">33</span>条重要内参</p>
            </div>
            <div class="content">
                <table>
                    <tr class="item">
                        <td>
                            <div class="ui large label"><i class="icon alarm outline"></i> 23：11</div>
                            <i class="icon caret right"></i>
                        </td>
                        <td>
                            <div class="border">
                                <div class="ui large label stock-tag">上证快讯</div>
                                <p class="title">TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <p class="info">TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%</p>
                            </div>
                        </td>
                    </tr>
                    <tr class="item">
                        <td>
                            <div class="ui large label"><i class="icon alarm outline"></i> 23：11</div>
                            <i class="icon caret right"></i>
                        </td>
                        <td>
                            <div class="border">
                                <div class="ui large label stock-tag">上证快讯</div>
                                <p class="title">TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <p class="info">TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <div class="attention">
                                    <div class="ui large label ">一些信息</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="item">
                        <td>
                            <div class="ui large label"><i class="icon alarm outline"></i> 23：11</div>
                            <i class="icon caret right"></i>
                        </td>
                        <td>
                            <div class="border">
                                <div class="ui large label stock-tag">上证快讯</div>
                                <p class="title">TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <p class="info">TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <div class="attention">
                                    <div class="ui large label ">一些信息</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="item">
                        <td>
                            <div class="ui large label"><i class="icon alarm outline"></i> 23：11</div>
                            <i class="icon caret right"></i>
                        </td>
                        <td>
                            <div class="border">
                                <div class="ui large label stock-tag">上证快讯</div>
                                <p class="title">TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <p class="info">TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%TrendForce:基因测序市场复合增长率将达13.5%</p>
                                <div class="attention">
                                    <div class="ui large label ">一些信息</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-12"></div>
    </div>
{% endblock %}
{% block js %}

    <script>
    </script>


{% endblock %}