{% extends 'xinqihang/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/xinqihang/niuren.css' %}">

{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="content-info col-md-12  col-sm-12 ">
            <div class="row">
                <div class="box col-md-4 col-sm-4">
                    <div class="item border">
                        <div class="head">
                            <div>
                                <i class="icon huge user"></i>
                            </div>
                            <div class="user-name">
                                <p>操盘手姓名</p>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>年龄:18岁</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="star">交易星级：
                                        <span class="ui small star rating">
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon"></i>
                                    </span></p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                        </div>
                        <div class="account-info">
                            <p>实盘账户：</p>
                            <p>交易品种：</p>
                            <p>用户名：</p>
                            <p>开户机构：</p>
                            <p>账户号码：</p>
                            <p>年化收益率：</p>
                        </div>
                        <div class="buttons">
                            <button class="ui inverted grey basic button info">查看详情</button>
                            <button class="ui inverted grey basic button niuren">成为牛人</button>
                        </div>
                    </div>

                </div>
                <div class="box col-md-4 col-sm-4">
                    <div class="item border">
                        <div class="head">
                            <div>
                                <i class="icon huge user"></i>
                            </div>
                            <div class="user-name">
                                <p>操盘手姓名</p>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>年龄:18岁</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="star">交易星级：
                                        <span class="ui small star rating">
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon active"></i>
                                        <i class="icon"></i>
                                    </span></p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                        </div>
                        <div class="account-info">
                            <p>实盘账户：</p>
                            <p>交易品种：</p>
                            <p>用户名：</p>
                            <p>开户机构：</p>
                            <p>账户号码：</p>
                            <p>年化收益率：</p>
                        </div>
                        <div class="buttons">
                            <button class="ui inverted grey basic button info">查看详情</button>
                            <button class="ui inverted grey basic button niuren">成为牛人</button>
                        </div>
                    </div>

                </div>
                <div class="box col-md-4 col-sm-4">
                    <div class="item border">
                        <div class="head">
                            <div>
                                <i class="icon huge user"></i>
                            </div>
                            <div class="user-name">
                                <p>操盘手姓名</p>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>年龄:18岁</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="star">交易星级：
                                        <span class="ui small star rating"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-6">
                                    <p>性别:女</p>
                                </div>
                                <div class="col-md-6">
                                    <p>操盘经验：6年</p>
                                </div>
                            </div>
                        </div>
                        <div class="account-info">
                            <p>实盘账户：</p>
                            <p>交易品种：</p>
                            <p>用户名：</p>
                            <p>开户机构：</p>
                            <p>账户号码：</p>
                            <p>年化收益率：</p>
                        </div>
                        <div class="buttons">
                            <button class="ui inverted grey basic button info">查看详情</button>
                            <button class="ui inverted grey basic button niuren">成为牛人</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ui base modal" id="user-info-modal">
        {#        <i class="close icon"></i>#}
        <div class="header">
            李小姐的详细信息
        </div>
        <div class="content">
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th>类别</th>
                    <th>开仓时间</th>
                    <th>类型</th>
                    <th>仓位</th>
                    <th>商品</th>
                    <th>开仓价</th>
                    <th>止损价</th>
                    <th>止盈价</th>
                    <th>平仓价</th>
                    <th>获利点数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="negative">卖出</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="positive">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>持仓单</td>
                    <td>10-18 13:47</td>
                    <td class="red">买入</td>
                    <td></td>
                    <td>铜</td>
                    <td>29903</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="ui small base modal" id="connect-service-modal">
        {#        <i class="close icon"></i>#}
        <div class="content" style="text-align: center;font-size: 20px;">
            <i class="icon ban red" style="font-size: 40px;"></i>
            <h3>请联系客服人员，开通权限</h3>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('.ui.star.rating')
                    .rating({
                        initialRating: 4,
                        maxRating: 5
                    })
            ;
            var content_info = $('.content-info');
            content_info.on('click', '.buttons .info', function () {
                $('#user-info-modal').modal('show')
            });
            content_info.on('click', '.buttons .niuren', function () {
                $('#connect-service-modal').modal('show')
            });


        })

    </script>
{% endblock %}
