{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="keywords" content="九星金服">
    <title>九星金服</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone_app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

    <script src="{% static 'js/semantic.min.js' %}"></script>
</head>
<body>
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="">
        <i class="server icon"></i>
        数据直播
    </a>
    <a class="item" href="">
        <i class="openid icon"></i>
        营销包装
    </a>
    <a class="item" href="">
        <i class="cubes icon"></i>
        大宗内参
    </a>
    <a class="item" href="">
        <i class="line chart icon"></i>
        股市内参
    </a>
    <a class="item" href="">
        <i class="announcement icon"></i>
        喊话中心
    </a>
    <a class="item" href="">
        <i class="settings icon"></i>
        管理中心
    </a>
</div>

<div class="pusher">
    <div id="btn-menu">
        <i class="list layout icon"></i>
    </div>
    <div class="">
        <div class="main">
            <div class="title">
                <span class="left">数据直播</span>
                <span class='right'>2016-05-31 19:34:01</span>
            </div>
            <div class="clear"></div>
            <div class="filter">
                <div class="left">
                    <div class="news-choose">
                        <div>
                            <label for="news-all">查看全部</label>
                            <input id="news-all" type="radio" name="importent" value="">
                        </div>
                        <div>
                            <label for="news-importent">查看重要</label>
                            <input id="news-importent" type="radio" name="importent" value="查看重要">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="ui mini buttons">
                        <button class="ui button">声音</button>
                        <div class="or"></div>
                        <button class="ui button active">通知</button>
                    </div>
                </div>
            </div>
            <ul class="news">
                <li class="line">
                    <span class="news-time">19:56</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
<li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>
                <li class="line">
                    <span class="news-time">9月11日</span>
                    <span class="news-title">123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa123123123adkjfhdskfhsdflkahsdkfjhsadfasdfa</span>
                    <div class="clear"></div>
                </li>

            </ul>
        </div>
    </div>

</div>
<script>
    $(function () {
        var sidebar = $('.ui.sidebar');
        sidebar.sidebar('attach events', '#btn-menu', 'toggle');
        $('.menu .dropdown').dropdown();
        $('.message .close')
                .on('click', function () {
                    $(this)
                            .closest('.message')
                            .transition('fade')
                    ;
                })

    })
</script>
</body>
</html>
