{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>

    <title>TradingView Charting Library demo</title>

    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!--<script>window.jQuery || document.write('<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.js"><\/script>')</script>-->
    <script type="text/javascript" src="{% static 'tradingview/charting_library/charting_library.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tradingview/charting_library/datafeed/udf/datafeed.js' %}"></script>
    <!--<script type="text/javascript" src="charting_library/datafeed/udf/datafeed.js"></script>-->

    <script type="text/javascript">


        TradingView.onready(function () {

            var widget = window.tvWidget = new TradingView.widget({
                fullscreen: true,
                symbol: "{{ symbol }}",
                interval: 'D',
                supports_marks: true,
                same_data_requery: true,
                container_id: "tv_chart_container",
                //	BEWARE: no trailing slash is expected in feed URL
                {#                                datafeed: new Datafeeds.UDFCompatibleDatafeed("http://api.markets.wallstreetcn.com/v1/tradingView"),#}
                {#                datafeed: new Datafeeds.UDFCompatibleDatafeed('http://127.0.0.1:8000/finance'),#}
                datafeed: new Datafeeds.UDFCompatibleDatafeed('http://pc.jiuxingjinfu.com/finance'),

                library_path: "{% static 'tradingview/charting_library/' %}",
                locale: "zh",
                custom_css_url: "{% static 'css/custom_tradingview.css' %}",
                //	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
                drawings_access: {type: 'black', tools: [{name: "Regression Trend"}]},
                disabled_features: ["use_localstorage_for_settings", "header_symbol_search"],
                enabled_features: ["study_templates"],
                charts_storage_url: 'http://saveload.tradingview.com',
                charts_storage_api_version: "1.1",
                client_id: 'tradingview.com',
                user_id: 'public_user_id',
                overrides: {
                    "symbolWatermarkProperties.color": "#ffffff"
                }
            });

        });

    </script>

</head>

<body style="margin:0px;">
<div id="tv_chart_container"></div>
</body>

</html>
