{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="keywords" content="九星金服">
    <title>九星金服-登录</title>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body style="background-image:url('{% static "img/bg.jpg" %}')">
<div class="logo">
    <p>9</p>
</div>
<div class="login">
    <div class="account">
        <div class="ui left corner labeled input">
            <input type="text" placeholder="账号...">
            <div class="ui left corner label">
                <i class="user icon"></i>
            </div>
        </div>
    </div>
    <div class="passwd">
        <div class="ui left corner labeled input">
            <input type="text" placeholder="密码...">
            <div class="ui left corner label">
                <i class="lock icon"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>
