{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="keywords" content="九星金服">
    <title>九星金服</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone_app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

    <script src="{% static 'js/semantic.min.js' %}"></script>
</head>
<body>
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="">
        <i class="server icon"></i>
        数据直播
    </a>
    <a class="item" href="">
        <i class="openid icon"></i>
        营销包装
    </a>
    <a class="item" href="">
        <i class="cubes icon"></i>
        大宗内参
    </a>
    <a class="item" href="">
        <i class="line chart icon"></i>
        股市内参
    </a>
    <a class="item" href="">
        <i class="announcement icon"></i>
        喊话中心
    </a>
    <a class="item" href="">
        <i class="settings icon"></i>
        管理中心
    </a>
</div>

<div class="pusher">
    <div id="btn-menu">
        <i class="list layout icon"></i>
    </div>
    <div class="">
        <div class="main">
            <div class="title">
                <span class="left">大宗内参</span>
            </div>
            <div class="clear"></div>
            <div id="main-page" class="ui pointing secondary menu ">
                <a class="item active" data-tab="all">全部</a>
                <a class="item" data-tab="inner">内参回顾</a>
                <a class="item" data-tab="data">数据研报</a>
                <a class="item" data-tab="day">每日内参</a>
                <a class="item" data-tab="report">行情预测报告</a>
            </div>
            <div class="ui tab segment active main-page-content" data-tab="all">
                <table class="ui unstackable fixed inverted table celled single line">
                    <thead>
                    <tr>
                        <th class="first-th"><i class="empty star icon"></i></th>
                        <th>标题</th>
                        <th class="third-th">发布时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
<tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    </tbody>
                    <tfoot id="main-page-foot">
                    <tr>
                        <th colspan="3">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui tab segment main-page-content" data-tab="inner">
                <table class="ui unstackable fixed inverted table celled single line">
                    <thead>
                    <tr>
                        <th class="first-th"><i class="empty star icon"></i></th>
                        <th>标题</th>
                        <th class="third-th">发布时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>

                    </tbody>
                    <tfoot id="main-page-foot">
                    <tr>
                        <th colspan="3">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui tab segment main-page-content" data-tab="data">
                <table class="ui unstackable fixed inverted table celled single line">
                    <thead>
                    <tr>
                        <th class="first-th"><i class="empty star icon"></i></th>
                        <th>标题</th>
                        <th class="third-th">发布时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>

                    </tbody>
                    <tfoot id="main-page-foot">
                    <tr>
                        <th colspan="3">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui tab segment main-page-content" data-tab="day">
                <table class="ui unstackable fixed inverted table celled single line">
                    <thead>
                    <tr>
                        <th class="first-th"><i class="empty star icon"></i></th>
                        <th>标题</th>
                        <th class="third-th">发布时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>

                    </tbody>
                    <tfoot id="main-page-foot">
                    <tr>
                        <th colspan="3">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="ui tab segment main-page-content" data-tab="report">
                <table class="ui unstackable fixed inverted table celled single line">
                    <thead>
                    <tr>
                        <th class="first-th"><i class="empty star icon"></i></th>
                        <th>标题</th>
                        <th class="third-th">发布时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>
                    <tr>
                        <td><div class="ui ribbon label hot">热门</div></td>
                        <td>w123123kjsdahflkjdsdj几十块的合法了肯定舒服很困了就阿斯顿f困了就撒旦恢复奥斯卡级东方 萨克的计划</td>
                        <td>2016-08-31 20:03:21</td>
                    </tr>

                    </tbody>
                    <tfoot id="main-page-foot">
                    <tr>
                        <th colspan="3">
                            <div class="ui right floated pagination menu">
                                <a class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {

        var sidebar = $('.ui.sidebar');
        $('.menu .item').tab();
        sidebar.sidebar('attach events', '#btn-menu', 'toggle');
        $('.menu .dropdown').dropdown();
        $('.message .close')
                .on('click', function () {
                    $(this)
                            .closest('.message')
                            .transition('fade');
                })
    })
</script>
</body>
</html>
